@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-textPrimary font-sans;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-textPrimary font-bold;
}

a {
  @apply text-primary hover:text-secondary;
}

.flex-center {
  @apply flex flex-col items-center justify-center text-center;
}

.panel {
  @apply p-4 bg-border rounded-lg shadow-lg;
}

.mobile-menu {
  @apply hidden;
}

.mobile-menu-button:focus + .mobile-menu,
.mobile-menu:hover {
  @apply block;
}
