@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Indie Flower', 'Amatic SC', cursive !important;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
