@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';



html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  @apply bg-dark1 text-light1 font-sans;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-light1 font-bold;
}

a, button {
  @apply text-accent2 bg-dark2 rounded transition-colors duration-500;
  &:hover { 
    @apply text-dark1 bg-accent1;
  } }

.flex-center {
  @apply flex flex-col items-center justify-center text-center;
}

.panel {
  @apply p-4 m-4 bg-dark2 bg-opacity-50 rounded-lg shadow-lg;
}

.mobile-menu {
  @apply hidden;
}

.mobile-menu-button:focus + .mobile-menu,
.mobile-menu:hover {
  @apply block;
}
